# Description

The purpose of this etl script is to create agg montly dataset of Pikud Haoref alerts per alert desc and city starting from 7.10.23 until today.

The source of the data is json files that extract direclty from pikud haoref and the target is dataset that ready for vizulztion.

In [1]:
#Extarct 

import pandas as pd
from pandasql import sqldf

In [2]:
Get_Alarms_History=pd.read_json('https://alerts-history.oref.org.il//Shared/Ajax/GetAlarmsHistory.aspx?lang=he&fromDate=7.10.2023&mode=0')
GetCities=pd.read_json('https://alerts-history.oref.org.il/Shared/Ajax/GetCities.aspx?lang=he')
GetDistricts=pd.read_json('https://alerts-history.oref.org.il//Shared/Ajax/GetDistricts.aspx?lang=he')
GetCitiesMix=pd.read_json('https://alerts-history.oref.org.il/Shared/Ajax/GetCitiesMix.aspx?lang=he')

In [3]:
Get_Alarms_History.head()

,data,date,time,alertDate,category,category_desc,matrix_id,rid
0,תל חי,2024-08-13,10:19:05,2024-08-13T10:19:00,2,חדירת כלי טיס עוין,6,34969
1,קריית שמונה,2024-08-13,10:19:05,2024-08-13T10:19:00,2,חדירת כלי טיס עוין,6,34968
2,משגב עם,2024-08-13,10:19:05,2024-08-13T10:19:00,2,חדירת כלי טיס עוין,6,34967
3,מרגליות,2024-08-13,10:19:05,2024-08-13T10:19:00,2,חדירת כלי טיס עוין,6,34966
4,מעיין ברוך,2024-08-13,10:19:05,2024-08-13T10:19:00,2,חדירת כלי טיס עוין,6,34965

In [4]:
GetDistricts.head()

,label,value,id,areaid,areaname,label_he,migun_time
0,אזור תעשייה שחורת,124FC5752F86660B7458D50DCE51AE40,74,1,אילת,אזור תעשייה שחורת,30
1,אילות,47996B5FC9D96389F47865B0DC7E21E2,91,1,אילת,אילות,30
2,אילת,91889FE2AD9EF1EC37CBFF1460C2F40B,93,1,אילת,אילת,30
3,ארגמן,C988CBEE12D4AFE0CE83FD4B1A6E6D04,139,3,בקעה,ארגמן,90
4,בקעות,155DD06EF9B07E5AA094A9A67DC389A5,254,3,בקעה,בקעות,90

In [5]:
GetCities.head()

,label,rashut,value,id,areaid,mixname,color
0,אזור תעשייה שחורת I אזור אילת,,74,124FC5752F86660B7458D50DCE51AE40,1,אזור תעשייה שחורת I אזור אילת | <span>אילת</span>,G
1,אילות I אזור אילת,מועצה אזורית: חבל אילות,91,47996B5FC9D96389F47865B0DC7E21E2,1,אילות I אזור אילת | <span>אילת</span>,G
2,אילת I אזור אילת,,93,91889FE2AD9EF1EC37CBFF1460C2F40B,1,אילת I אזור אילת | <span>אילת</span>,G
3,ארגמן I אזור בקעה,מועצה אזורית: בקעת הירדן,139,C988CBEE12D4AFE0CE83FD4B1A6E6D04,3,ארגמן I אזור בקעה | <span>בקעה</span>,G
4,בקעות I אזור בקעה,מועצה אזורית: בקעת הירדן,254,155DD06EF9B07E5AA094A9A67DC389A5,3,בקעות I אזור בקעה | <span>בקעה</span>,G

In [6]:
GetCitiesMix.head()

,label,value,id,areaid,color,migun_time,mixname,rashut,label_he
0,ביר הדאג',000B3E77B5354E702E75C09E8866E671,173,9,B,90,ביר הדאג' | <span>דרום הנגב</span>,מועצה אזורית: נווה מדבר,ביר הדאג'
1,מנחמיה,0031A8DB29299EE6FB90E6A73076E7E6,756,4,B,60,מנחמיה | <span>בקעת בית שאן</span>,מועצה אזורית: עמק המעיינות,מנחמיה
2,סעייה-מולדה,006A2959E1E74A793081DAD4E3897D9C,720,9,B,90,סעייה-מולדה | <span>דרום הנגב</span>,מועצה אזורית: אל קסום,סעייה-מולדה
3,גבעת ישעיהו,0070128C5AE2309E6E8DE90D7DB19CF5,302,24,B,60,גבעת ישעיהו | <span>שפלת יהודה</span>,מועצה אזורית: מטה יהודה,גבעת ישעיהו
4,גשר,00756A1E357D6F7640082CF14403168F,355,4,B,60,גשר | <span>בקעת בית שאן</span>,מועצה אזורית: עמק המעיינות,גשר

In [7]:
#Transform

from datetime import datetime, timedelta

start_day=datetime(2023,10,7).date()
today=datetime.now().date()

dates=[(start_day + timedelta(days=i)).strftime("%d.%m.%Y") for i in range((today - start_day).days)]

"first_day:{} ,last_date:{}".format(dates[0],dates[-1])

'first_day:07.10.2023 ,last_date:12.08.2024'

In [8]:
df=pd.read_json('https://alerts-history.oref.org.il//Shared/Ajax/GetAlarmsHistory.aspx?lang=he&fromDate={}&toDate={}&mode=0'.format(dates[0],dates[0]))
empty_df = pd.DataFrame(columns=df.columns)

for i in dates:
    tmp=pd.read_json('https://alerts-history.oref.org.il//Shared/Ajax/GetAlarmsHistory.aspx?lang=he&fromDate={}&toDate={}&mode=0'.format(i,i))
    empty_df=empty_df.append(tmp, ignore_index=True)

empty_df['alertDate']= pd.to_datetime(empty_df['alertDate']).dt.date
empty_df

# creating raw data dataset on daily resoultion with all the alerts staring from 7.10

,data,date,time,alertDate,category,category_desc,matrix_id,rid
0,"שדרות, איבים, ניר עם",2023-07-10,23:42:45,2023-10-07,1,ירי רקטות וטילים,1,20550
1,שוקדה,2023-07-10,23:13:53,2023-10-07,1,ירי רקטות וטילים,1,20549
2,בארי,2023-07-10,23:13:53,2023-10-07,1,ירי רקטות וטילים,1,20548
3,תקומה,2023-07-10,22:43:18,2023-10-07,1,ירי רקטות וטילים,1,20547
4,תקומה וחוות יזרעם,2023-07-10,22:43:18,2023-10-07,1,ירי רקטות וטילים,1,20546
...,...,...,...,...,...,...,...,...
16399,נהריה,2024-12-08,01:43:48,2024-08-12,1,ירי רקטות וטילים,1,34949
16400,גשר הזיו,2024-12-08,01:43:48,2024-08-12,1,ירי רקטות וטילים,1,34948
16401,בן עמי,2024-12-08,01:43:48,2024-08-12,1,ירי רקטות וטילים,1,34947
16402,כברי,2024-12-08,01:43:47,2024-08-12,1,ירי רקטות וטילים,1,34946
16403,שייח' דנון,2024-12-08,01:43:32,2024-08-12,1,ירי רקטות וטילים,1,34945

In [9]:
final_table=sqldf('''

with base as(
select distinct
g1.rid,
g1.data as city,
g1.alertDate as date,
g1.time,
g1.category_desc,
g2.areaname

from empty_df g1 left join GetDistricts g2 on g1.data=g2.label_he
left join GetCities g3 on g2.id=g3.value and g2.areaid=g3.areaid

)

select strftime('%Y',date) as year,
strftime('%m',date) as month,
category_desc,
areaname,
city,
count(*) as montly_alerts
from base
group by 1,2,3,4,5
order by 1,2,count(*) desc
''')

final_table.head()

#Aggregate the data to monthly resolution instead daily.

,year,month,category_desc,areaname,city,montly_alerts
0,2023,10,ירי רקטות וטילים,מערב לכיש,אזור תעשייה הדרומי אשקלון,157
1,2023,10,ירי רקטות וטילים,עוטף עזה,נתיב העשרה,132
2,2023,10,ירי רקטות וטילים,מערב לכיש,אשקלון - דרום,131
3,2023,10,ירי רקטות וטילים,עוטף עזה,"שדרות, איבים, ניר עם",100
4,2023,10,ירי רקטות וטילים,עוטף עזה,זיקים,95

In [10]:
#load

try:
    final_table.to_csv('/Users/mayrozental/Desktop/pikud_oref_alarm.csv',index=False)
    print('Sucsses')
except:
    print('Error')

Sucsses